# LCMXO2-2000HC-4TG100C, physical allocation only.
# External ATA/link setup, hold, latency and recovery constraints remain required.
# No global asynchronous false-path exemption is supplied.
FREQUENCY PORT "FPGA_CLK50" 50.000 MHZ;
LOCATE COMP "LINK_D[0]" SITE "1";
IOBUF PORT "LINK_D[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_D[1]" SITE "2";
IOBUF PORT "LINK_D[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_D[2]" SITE "4";
IOBUF PORT "LINK_D[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_D[3]" SITE "7";
IOBUF PORT "LINK_D[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_D[4]" SITE "8";
IOBUF PORT "LINK_D[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_D[5]" SITE "9";
IOBUF PORT "LINK_D[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_D[6]" SITE "10";
IOBUF PORT "LINK_D[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_D[7]" SITE "12";
IOBUF PORT "LINK_D[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_WRn" SITE "13";
IOBUF PORT "LINK_WRn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_RDn" SITE "14";
IOBUF PORT "LINK_RDn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_A0" SITE "15";
IOBUF PORT "LINK_A0" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_A1" SITE "16";
IOBUF PORT "LINK_A1" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_IRQ" SITE "17";
IOBUF PORT "LINK_IRQ" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "LINK_READY" SITE "18";
IOBUF PORT "LINK_READY" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "FPGA_RESETn" SITE "19";
IOBUF PORT "FPGA_RESETn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "FPGA_CLK50" SITE "20";
IOBUF PORT "FPGA_CLK50" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BRIDGE_ARM" SITE "21";
IOBUF PORT "BRIDGE_ARM" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_SAFE" SITE "24";
IOBUF PORT "BUS_SAFE" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PWR_FAILn" SITE "25";
IOBUF PORT "PWR_FAILn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DA[0]" SITE "28";
IOBUF PORT "BUS_DA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DA[1]" SITE "29";
IOBUF PORT "BUS_DA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DA[2]" SITE "30";
IOBUF PORT "BUS_DA[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_CS0n" SITE "34";
IOBUF PORT "BUS_CS0n" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_CS1n" SITE "35";
IOBUF PORT "BUS_CS1n" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DIORn" SITE "36";
IOBUF PORT "BUS_DIORn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DIOWn" SITE "37";
IOBUF PORT "BUS_DIOWn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_RESETn" SITE "38";
IOBUF PORT "BUS_RESETn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DMACKn" SITE "39";
IOBUF PORT "BUS_DMACKn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[0]" SITE "51";
IOBUF PORT "BUS_DD[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[1]" SITE "52";
IOBUF PORT "BUS_DD[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[2]" SITE "53";
IOBUF PORT "BUS_DD[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[3]" SITE "54";
IOBUF PORT "BUS_DD[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[4]" SITE "57";
IOBUF PORT "BUS_DD[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[5]" SITE "58";
IOBUF PORT "BUS_DD[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[6]" SITE "59";
IOBUF PORT "BUS_DD[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[7]" SITE "60";
IOBUF PORT "BUS_DD[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[8]" SITE "61";
IOBUF PORT "BUS_DD[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[9]" SITE "62";
IOBUF PORT "BUS_DD[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[10]" SITE "63";
IOBUF PORT "BUS_DD[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[11]" SITE "64";
IOBUF PORT "BUS_DD[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[12]" SITE "65";
IOBUF PORT "BUS_DD[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[13]" SITE "66";
IOBUF PORT "BUS_DD[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[14]" SITE "67";
IOBUF PORT "BUS_DD[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BUS_DD[15]" SITE "68";
IOBUF PORT "BUS_DD[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "REQ_DATA_OEn" SITE "69";
IOBUF PORT "REQ_DATA_OEn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "DATA_DIR" SITE "70";
IOBUF PORT "DATA_DIR" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "REQ_IORDY_LOW" SITE "71";
IOBUF PORT "REQ_IORDY_LOW" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "REQ_INTRQ" SITE "74";
IOBUF PORT "REQ_INTRQ" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "REQ_DMARQ" SITE "75";
IOBUF PORT "REQ_DMARQ" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BIOS_BANK0" SITE "78";
IOBUF PORT "BIOS_BANK0" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BIOS_BANK1" SITE "83";
IOBUF PORT "BIOS_BANK1" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BIOS_WR_EN" SITE "84";
IOBUF PORT "BIOS_WR_EN" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "BIOS_RECOVERYn" SITE "96";
IOBUF PORT "BIOS_RECOVERYn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "FPGA_READY" SITE "97";
IOBUF PORT "FPGA_READY" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "REQ_INTRQ_OEn" SITE "40";
IOBUF PORT "REQ_INTRQ_OEn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "REQ_DMARQ_OEn" SITE "41";
IOBUF PORT "REQ_DMARQ_OEn" IO_TYPE=LVCMOS33 PULLMODE=NONE;
